.card_global {
    width: 400px;
    margin-bottom: 8px;
}

.card_header {
    align-self: center;
}

.card_actions {
    align-self: end;
}

.card_content {
    text-align: center;
}

.main_div{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}