<mat-card style="width: 800px; margin: 20px;">
  <mat-card-header>
    <mat-card-title appCabecera>Datos de {{ data!.firstName + ' ' + data!.lastName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content style="padding: 30px;">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6"><b>Nombre</b></div>
      <div class="col-md-6">{{ data.firstName }}</div>
    </div>
    <div class="row">
      <div class="col-md-6"><b>Apellido</b></div>
      <div class="col-md-6">{{ data.lastName }}</div>
    </div>
    <div class="row">
      <div class="col-md-6"><b>Email</b></div>
      <div class="col-md-6">{{ data.email }}</div>
    </div>
    <div class="row">
      <div class="col-md-6"><b>Activo</b></div>
      <div class="col-md-6">{{ data.isActive! | activo }}</div>
    </div>
    <div class="row">
      <div class="col-md-6"><b>Foto</b></div>
      <div class="col-md-6"><img appNotImage src="fakeurlparaforzarerror.com" width="100px" height="100px"></div> <!-- La url está mal a proposito para forzar la directiva -->
    </div>
    <br>

    <mat-card-title>Inscripciones del alumno</mat-card-title>

    <table mat-table [dataSource]="inscriptions" class="mat-elevation-z8">
  
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Curso </th>
        <td mat-cell *matCellDef="let element"> {{ element.course.description }} </td>
      </ng-container>
  
      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef> Activo </th>
        <td mat-cell *matCellDef="let element"><mat-icon [ngClass]="element.isActive ? 'green' : 'red'">circle</mat-icon>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="removeInscription(element)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
