<h1 mat-dialog-title>Inscripción</h1>
<div mat-dialog-content>
    <form class="flex flex-column" [formGroup]="inscriptionForm">
        <mat-form-field appearance="outline" style="margin-top: 20px;">
            <mat-label>Alumno</mat-label>
            <mat-select [formControl]="studentControl" name="student">
                <mat-option></mat-option>
                <mat-option *ngFor="let stu of  students" [value]="stu">
                  {{stu.firstName + ' ' + stu.lastName}}
                </mat-option>
              </mat-select>
            <mat-error *ngIf="inscriptionForm.get('studentControl')?.errors?.['required']">El campo Alumno es requerido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-top: 20px;">
            <mat-label>Curso</mat-label>
            <mat-select [formControl]="courseControl" name="course">
                <mat-option></mat-option>
                <mat-option *ngFor="let cou of courses" [value]="cou">
                  {{cou.name}}
                </mat-option>
              </mat-select>
            <mat-error *ngIf="inscriptionForm.get('courseControl')?.errors?.['required']">El campo Curso es requerido</mat-error>
        </mat-form-field>
        <mat-slide-toggle [formControl]="isActiveControl">Activo</mat-slide-toggle>
    </form>
    <div mat-dialog-action style="margin-top: 50px;">
        <button type="button" class="btn btn-light" (click)="close()">Cancelar</button> &nbsp;
        <button type="button" class="btn btn-primary" [mat-dialog-close]="inscriptionForm.value" [ngClass]="inscriptionValid() ? 'btn btn-primary' : 'btn btn-primary disabled'">Grabar</button>
    </div>
</div>
